header .search_bar-container {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.search_bar-container .button_search {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.button_search .search_icon {
  width: 1.375rem;
  transition: 0.3s;
}
.button_search .search_icon:hover {
  transform: scale(0.9);
}

.search_bar-container .search_bar {
  width: 12.5rem;
  height: 1.5625rem;
  border: none;
  outline: none;
  margin-left: 0.3125rem;
  border-radius: 3px;
  padding-left: 0.3125rem;
  background: #B4B4B4;
}

.search_bar-container .search_bar:focus {
  background: #EFEFEF;
}

.home_content {
  width: 100%;
  margin-top: 1.25rem;
}

.home_content .welcome_title {
  font-size: 1.25rem;
  color: #fff;
  align-self: flex-start;
}

.home_content .playlist_title {
  font-size: 1.125rem;
  color: #fff;
  margin-bottom: 0.3125rem;
}

.divider {
  margin: 0.9375rem 0;
  width: 98%;
  height: 1px;
  background: #888;
  border: none;
}

.carousel_container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.slick-arrow {
  display: none;
}
.slick-slide {
  margin-right: 10px;
  white-space: nowrap;                  
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  cursor: pointer;
}
.slick-slide:last-child {
  margin-right: 0;
  position: relative;
}
.slick-slide img {
  width: 100%;
  border-radius: 5px;
}
.slick-slide span {
  font-size: 0.75rem;
  color: #fff;
  margin-top: 0.3125rem;
}
.slick-slide button {
  background: none;
  outline: none;
  border: none;
  font-size: 40px;
  color: #c9c9c9;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.slick-slide button:hover {
  color: #fff;
}

#button {
  position: absolute;
  bottom: 0;
}