header .search_bar-container {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.search_bar-container .button_search {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.button_search .search_icon {
  width: 1.375rem;
  transition: 0.3s;
}
.button_search .search_icon:hover {
  transform: scale(0.9);
}

.search_bar-container .search_bar {
  width: 12.5rem;
  height: 1.5625rem;
  border: none;
  outline: none;
  margin-left: 0.3125rem;
  border-radius: 3px;
  padding-left: 0.3125rem;
  background: #B4B4B4;
}

.search_bar-container .search_bar:focus {
  background: #EFEFEF;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.wrapper::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #888;  /* creates padding around scroll thumb */
}

.home_content {
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.home_content .welcome_title {
  font-size: 1.25rem;
  color: #fff;
  align-self: flex-start;
}

.home_content .playlist_title {
  font-size: 1.125rem;
  color: #fff;
  margin-bottom: 0.3125rem;
  align-self: flex-start;
}

.divider {
  margin: 0.9375rem 0;
  width: 98%;
  height: 1px;
  background: #888;
  border: none;
}

.carousel_container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.carousel_container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  border: 2px solid green;
  background: #0000005e;
  color: #fff;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.carousel_container .button:hover {
  background: #00000094;
}
.carousel_container .button.prev {
  left: 0;
}
.carousel_container .button.next {
  right: 0;
}

.slick-arrow {
  display: none;
}
.slick-slide {
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  cursor: pointer;
}
.slick-slide:last-child {
  margin-right: 0;
  position: relative;
}
.slick-slide img {
  width: 100%;
  border-radius: 5px;
}
.slick-slide img.playlist_cover {
  width: 6.875rem;
  height: 6.875rem;
  border: 50%;
}
.slick-slide span {
  font-size: 0.75rem;
  color: #fff;
  margin-top: 0.3125rem;
}
.slick-slide button {
  background: none;
  outline: none;
  border: none;
  font-size: 40px;
  color: #c9c9c9;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.slick-slide button:hover {
  color: #fff;
}

#button {
  position: absolute;
  bottom: 0;
}

.created_playlists_container {
  width: 100%;
  margin-bottom: 5.8125rem;
  overflow: hidden;
}

.listening_music_container {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.3125rem;
  position: fixed;
  bottom: 168px;
  width: 300px;
  height: 2.5rem;
  background-color: #555;
  border-radius: 7px;
  z-index: 2;
}

.listening_music_container .music_info {
  display: flex;
  align-items: center;
}

.listening_music_container .music_info .cover_img-music {
  width: 2.8125rem;
  border-radius: 5px;
}

.listening_music_container .music_info .music_titles {
  margin-left: 0.625rem;
}
.listening_music_container .music_info .music_titles span {
  display: block;
  color: #dbdbdb;
  font-size: 0.75rem;
  max-width: 9.375rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listening_music_container .music_info .music_titles span:last-child {
  color: #bebebe;
  margin-top: 0.1875rem;
}

.listening_music_container .play_button {
  width: 1.875rem;
  cursor: pointer;
}