@keyframes sound_waves {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Roboto;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .body_phone {
  width: 26.25rem;
  height: 43.75rem;
  padding: 0 1.25rem 0.625rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.875rem;
  background-image: linear-gradient(to bottom, #888888, #646464, #434343, #242424, #000000);
  background-size: cover;
  background-position: center center;
  border: 0.5rem solid #333;
  box-shadow: inset 5px 5px 10px #5b5b5b,
            inset -5px -5px 10px #7b7b7b;
}

.body_phone header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .camera_container {
  width: 12.5rem;
  height: 2.1875rem;
  background: #333;
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.camera_container .camera {
  width: 0.9375rem;
  height: 0.9375rem;
  border: 2px solid rgb(180, 180, 180);
  background: #888;
  border-radius: 50%;
}

.camera_container .sound {
  width: 70%;
  height: 0.625rem;
  border: 2px solid rgb(180, 180, 180);
  background: #888;
  border-radius: 50px;
}

header .search_bar-container {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.search_bar-container .button_search {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.button_search .search_icon {
  width: 1.375rem;
  transition: 0.3s;
}
.button_search .search_icon:hover {
  transform: scale(0.9);
}

header .search_bar {
  width: 12.5rem;
  height: 1.5625rem;
  border: none;
  outline: none;
  margin-left: 0.3125rem;
  border-radius: 3px;
  padding-left: 0.3125rem;
  background: #B4B4B4;
}

header .search_bar:focus {
  background: #EFEFEF;
}

.button_back {
  position: absolute;
  top: 1.875rem;
  left: 1.25rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.button_back:hover {
  transform: translateX(-3px);
}

.clock {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
}

.clock .clock_value {
  color: #EFEFEF;
  font-size: 0.875rem;
}

.volume_controlls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.9375rem;
  height: 327.59px;
  position: absolute;
  left: 0.3125rem;
  top: 50%;
  transform: translateY(-66%);
}

.volume_controlls .volume_button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.volume_controlls .volume_button:hover {
  transform: scale(1.1);
}

.volume_controlls .volume_button .volume_icon {
  width: 1.25rem;
}

.body_phone .banner {
  width: 90%;
}

.banner .logo-slash_bg {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.music_title {
  color: #bebebe;
  font-size: 18px;
}

.body_phone .volume_range {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volume_range input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 0.125rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: #B4B4B4;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.volume_range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 50%;
  background: #999999;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.volume_range input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: #888888;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.volume_range input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: #888888;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.volume_range input[type="range"]::-webkit-slider-thumb:hover {
  background: #888888;
}

.volume_range input[type="range"]::-moz-range-thumb:hover {
  background: #888888;
}

.volume_range input[type="range"]::-ms-thumb:hover {
  background: #888888;
}

.volume_range input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volume_range input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volume_range input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volume_range .volume_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  transform: translateX(5.625rem);
}

.volume_content .volume_value {
  color: #fff;
  font-size: 1rem;
}

.volume_content .volume_icon {
  width: 1.25rem;
}

.sound_waves-container {
  height: 3.75rem;
  display: flex;
  align-items: center;
}

.sound_waves-container .wave {
  display: block;
  position: relative;
  background: #f1f1f1;
  width: 10px;
  height: 100%;
  border-radius: 50px;
  margin: 0 0.3125rem;
  animation: sound_waves 1.2s linear infinite;
}

.sound_waves-container .wave:nth-child(1) {
  animation-delay: 0s;
}
.sound_waves-container .wave:nth-child(2) {
  animation-delay: 0.3s;
}
.sound_waves-container .wave:nth-child(3) {
  animation-delay: 0.6s;
}
.sound_waves-container .wave:nth-child(4) {
  animation-delay: 0.9s;
}
.sound_waves-container .wave:nth-child(5) {
  animation-delay: 0.12s;
}
.sound_waves-container .wave:nth-child(6) {
  animation-delay: 1s;
}
.sound_waves-container .wave:nth-child(7) {
  animation-delay: 0.12s;
}
.sound_waves-container .wave:nth-child(8) {
  animation-delay: 0.9s;
}
.sound_waves-container .wave:nth-child(9) {
  animation-delay: 0.6s;
}
.sound_waves-container .wave:nth-child(10) {
  animation-delay: 0.3s;
}
.sound_waves-container .wave:nth-child(11) {
  animation-delay: 0s;
}

.controlls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.controlls img {
  width: 2.5rem;
}

.controlls img:hover {
  background-color: #00b161a9;
  border-radius: 50%;
  cursor: pointer;
}

.controlls img.controll-play,
.controlls img.controll-pause {
  width: 3.75rem;
  margin: 0 1.25rem;
}

.controlls img.controll-loop {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}